@import "tailwindcss";

body{
  background-color: rgb(7,7,7);
}

::-webkit-scrollbar {
  width: 4px;
  background: rgb(7,7,7);
}

::-webkit-scrollbar-thumb {
  background: rgb(98, 98, 98);
  border-radius: 10px;
}

.user{
  align-self: flex-end;
  background-color: rgb(60,60,60);
  border-radius: 8px;
  padding: 8px 12px;

}